@use './../../shared' as s;

.hero {
  background-image: url('./hero-image.png');
  height: 50rem;
  background-size: cover;
  background-position-y: -8rem;
  background-repeat: no-repeat;

  @media screen and (max-width: 1100px) {
    background-position: center;
  }

  @media screen and (max-width: 760px) {
    background-image: linear-gradient(
        to right bottom,
        rgba(44, 44, 44, 0.4),
        rgba(44, 44, 44, 0.4)
      ),
      url('./hero-image.png');
  }

  @media screen and (max-width: 400px) {
    background-image: linear-gradient(
        to right bottom,
        rgba(44, 44, 44, 0.6),
        rgba(44, 44, 44, 0.6)
      ),
      url('./hero-image.png');
  }

  @media screen and (max-width: 450px) {
    height: 44rem;
  }

  &__content {
    @include s.containerPadding;
    width: 45%;
    height: 100%;
    position: relative;

    @media screen and (max-width: 450px) {
      width: 100%;
    }

    &__texts {
      text-align: center;

      @media screen and (max-width: 1100px) {
        text-align: left;
      }

      @media screen and (max-width: 400px) {
        text-align: center;
      }

      h1 {
        font-size: 6rem;
        color: var(--color-primary-white);
        font-family: var(--font-serif);
        font-weight: 400;
        margin-bottom: 1.8rem;

        @media screen and (max-width: 760px) {
          font-size: 5rem;
        }

        @media screen and (max-width: 400px) {
          font-size: 4rem;
        }

        @media screen and (max-width: 285px) {
          font-size: 3rem;
        }
      }
      p {
        font-size: 2rem;
        color: whitesmoke;
        font-weight: 300;
      }
    }
  }
}
